.nav {
    display: flex;
    height: 50px;
    width: auto;
    align-items: center;
    background-color: rgb(0, 0, 0);
}
.nav-title{
    margin-right: 200px;
    color: white;
}
.nav-links {
    display: flex;
    list-style: none;
    padding: 0;
    height: auto;
    width: auto;
}

.nav-links li {
    margin-right: 20px;
}
.btn{
    background-color: rgb(34, 92, 158);
    color: white;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.nav-links li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.active{
    font-weight:bolder;
}


body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.encabezado{
    height: 70px;
    background-color: rgb(0, 193, 193);
    position: relative;
}
.cabeza{
    height: 70px;
    background-color: rgb(41, 41, 41);
    position: relative;
    color: white;
    text-align:center;
}
.usuario{
    width: 75px;
    position: absolute;
    top: 40px;
    left: 15px;
    border: 2px solid rgb(125, 124, 124);
    border-radius: 50%;
}

.usuarios1 {
    width: 50px;
    height: 50px;
}

.cuerpo{
    padding-top: 20px;
    padding-left: 15px;
    padding-bottom: 15px;
    border: 2px solid rgb(217, 217, 217);
}

.ubicacion, .perfil{
    display: flex;
    align-items: center;
    gap: 5px;
}

.marcador{
    width: 12px;
}

.bloque, .bloque2 {
    display: flex;
    flex-direction:column;
    flex: 1;
    margin-right: 20px;
}

.contenedor {
    display: flex;
}

.tarjeta, .education{
    margin-top: 20px;
    margin-bottom: 20px;
}

.Education .cuerpo p{
    color: rgb(90, 90, 90);
}

.Connection_Request, .Your_Connection{
    margin-top: 20px;
    margin-bottom: 20px;
}
.Connection_Request .cuerpo {
    display: flex;
    flex-direction: column;
}

.Connection_Request .usuario_info {
    display: flex; 
    margin-bottom: 10px;
}

.Connection_Request .usuario_info img, .Connection_Request .usuario_info p {
    margin-right: 10px;
    font-size: 20px;
}


.Your_Connection .cuerpo {
    display: flex;
    flex-direction: column;
}

.Your_Connection .usuario_info {
    display: flex; 
    margin-bottom: 10px;
}

.Your_Connection .usuario_info img, .Your_Connection .usuario_info p {
    margin-right: 10px;
    font-size: 20px;
}

.bloquecito {
    border: 2px solid rgb(125, 124, 124);
    height: 50px;
    width: 102%;
    margin: -15px;
    padding: 0px;
}