
* {
    margin: 0;
    padding: 0;
}

.nav {
    height: 80px;
    width: 800px;
    background-color: #000000;
    color: #ffffff;
    margin-bottom: 20px;
    margin-left: 230px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

.flex-container {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-container.main {
    align-items: flex-start;
}

.col-2 {
    flex: 2;
    margin-right: 20px;
}

.col-1 {
    flex: 1;
}

.card {
    background-color: #fff;
    border: 2px solid #999;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    overflow: hidden;
}

.card-body {
    padding: 20px;
}

.card-body h1, 
.card-body h2,
.card-body h3,
.card-body p {
    margin: 20px 0px;
}

.bloque {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.derecha {
    text-align: center;
    flex-grow: 1;

    display: flex;
    align-items: center;
}

.likeCounter {
    font-size: 1rem;
    margin-right: 10px;
    color: #6a00ff;
}

.likeText {
    margin-right: 5px;
}

.btn_Like{
    height: 30px;
    width: 100px;
    color: #000000;
    background-color: #e9b415;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    border: 2px solid black;
    box-shadow: rgb(0, 0, 0) 3px 3px;
}

