.search-button {
    padding: 10px 50px; 
    height: auto;
    width: auto;
    background-color: #ffffff;
    color: rgb(0, 234, 255);
    border: 2px solid rgb(0, 234, 255);
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
  }
.botonplus{
    background-color: rgb(0, 234, 255);
    border: none;
    color: white;
    font-size: 32px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}
.create{
    padding: 10px 50px;
    background-color: rgb(46, 100, 234);
    color: #ffffff;
    border: 2px solid black;
    box-shadow: rgb(0, 0, 0) 3px 3px;
    font-size: 16px;
  }
  .button-container {
    margin-bottom: 10px;
}